.wrapper {
    width: 60vw;
    height: 50vh;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 0.5);

    box-shadow: 0, 6px, 60px, 5px, rgba(0, 0, 0, 0.75),
                inset 2px, 2px, 100px, 0, rgba(66, 66, 66, 0.1),
                inset -2px, -2px, 100px, 0, rgba(66, 66, 66, 0.1);
    backdrop-filter: blur(10px);

    color: #000;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    position: absolute;
    top: 20vh;
    left: 5vw;
}

.widget-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 400;

    width: 90%;
    margin-top: 2rem;
    margin-left: 5%;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.safe-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #53BB2F;
    width: fit-content;
}

.warning-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #EABE25;
    width: fit-content;
}

.danger-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #D01F1F;
    width: fit-content;
}

.widget-body {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-height: 200px;
}

.temperature {
    margin-left: 5rem;
    font-size: 10rem;
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.degree-sign {
    margin-top: -80px;
    font-size: 5rem;
    font-weight: 700;
}

.widget-footer {
    margin-left: 5.5rem;
    
    display: flex;
    align-items: center;
    gap: 4px;

    color: #747474;
    font-weight: 400;
    font-size: 20px;
}

.vertical-separator {
    font-size: 14px;
    color: #909090;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.image_main{
    width: 13rem;
    height: 13rem;
}