.Wrapper_Top{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2vh;
    align-items: center;
}
.Search{
    flex-grow: 2;
    margin-right: 2vh;

}
.Sun{
    flex-grow: 1;
    margin-left: 2vh;
}