.Wrapper_Bottom{
    width: fill;
    height: 160px;
    border-radius: 20px;
    background-color: rgba(246, 246, 246, 0.5);
    
    border-width: 0.5pt;

    box-shadow: 0, 6px, 60px, 5px, rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px, 2px, 100px, 0, rgba(66, 66, 66, 0.1);
    box-shadow: inset -2px, -2px, 100px, 0, rgba(66, 66, 66, 0.1);
    backdrop-filter: blur(10px);

    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    position: absolute;
    bottom: 5vh;
}

.hourly{
    padding-top: 2%;
    width: 10%;
    height: 160px;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
}
.temp, .time, .humidity, .img_condition{
    align-self: center;
    text-align: center;
}
.image_condition{
    width: 60px;
    height: 60px;
}