.SearchBar, .search{
    width: 60vw;
    height: 5vh;
    border-radius: 20px;

    background-color: rgba(246, 246, 246, 0.5);
    
    border-width: 0.5pt;
    box-shadow: 0 0.2em 1em 0.2em rgba(68, 68, 68, 0.75),
                inset 0.1em 0.1em 6em 0 rgba(149, 149, 149, 0.1),
                inset -0.1em -0.1em 6em 0 rgba(149, 149, 149, 0.1);
    backdrop-filter: blur(10px);

    outline: none;
    border: none;
}
.search{
    justify-content: center;
    position: inherit;
}

/* .Wrapper_search{
    /* background-color: aqua; */
/* } */ 