.App {
}
.Top-bar{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    gap: 10pt;
    
}
.TBR{
    flex-grow: 0;
    margin-left: 4%;
}
.TBL{
    flex-grow: 1;
}
.Mid{
    margin-top: 15pt;
    margin-left: 5%;
    margin-right: 5%;
}
.Bottom{
    margin-top: 15pt;
    margin-left: 5%;
    margin-right: 5%;
}