.side-widget {
    width: 20vw; 
    height: 50vh;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 0.5);

    box-shadow: 0 6px 60px 5px rgba(0, 0, 0, 0.25),
                inset 2px 2px 100px 0 rgba(66, 66, 66, 0.1),
                inset -2px -2px 100px 0 rgba(66, 66, 66, 0.1);
    backdrop-filter: blur(10px);
    color: #000;

    top: 20vh; 
    right: 5vw;
    position: absolute;
}

.side-widget-heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1.5rem;
}

.previous-day-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.previous-day-layout {
    display: flex;
    padding: 1rem;
    width: 80%; 
    max-width: 18rem; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.previous-day-layout:hover {
    transition-duration: 0.5s;
    box-shadow: 0 3px 20px 5px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}


.previous-day-img {
    width: 1rem; 
    height: 1rem; 
    align-self: self-end;
}

.text{
    align-self: left;
    font-size: 1rem;
    flex-grow: 1;
}

.image_side{
    flex-grow: 0;
    flex-shrink: 1;
    align-self: center;
    background-color: #EDEDED;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-weight: bold;
}