.side-widget {
    width: 350px; 
    height: 450px;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 0.5);

    box-shadow: 0, 6px, 60px, 5px, rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px, 2px, 100px, 0, rgba(66, 66, 66, 0.1);
    box-shadow: inset -2px, -2px, 100px, 0, rgba(66, 66, 66, 0.1);
    backdrop-filter: blur(10px);
    color: #000;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    position: absolute;
    top: 25vh; 
    right: 5rem; 
}

.side-widget-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px; 
}

.previous-day-container {
    /* text-align: center;
    font-size: 24px;
    font-weight: bold; */
    margin-top: 20px;
}
.previous-day-layout {
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    width: 80%; 
    max-width: 300px; 
    /* text-align: center; */
    margin-bottom: 10px;
}

.previous-day-img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
    border-radius: 50%;
}
.date, .Temp, .Rain, .Condition{
    align-self: left;
    font-size: 20px;
    font-weight: 400;
}